.cart-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-header {
    margin-block: 2%;
}

.cart-back-button {
    align-self: self-start;
    width: 125px;
    height: 60px;
    border-radius: 20px;
    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border: transparent;
    background-color:slategrey;
}

.cart-items {
    display: flex;
    flex-direction: column;
}