.cart-header {
    margin-block: 2%;
}

.cart-back-button {
    align-self: self-start;
    width: 125px;
    height: 60px;
    border-radius: 20px;
    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border: transparent;
    background-color:slategrey;
}

.cart-items {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 500px;
}

.cart-item {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 35px;
    font-size: 22px;
    font-weight: bold;
    margin-block: 10px;
}

.cart-item-title {
    width: 70%;
    margin-inline: 30px;
}

.cart-quantity {
    display: flex;
    width: 30%;
}

.cart-item-qbtn {
    margin-inline: 15px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border: transparent;
    font-size: 22px;
    font-weight: bold;
}

.cart-item-qbtn:hover {
    background-color: gray;
}

.cart-buttons {
    display: flex;
    padding-left: 25px;
    padding-right: 15px;
    margin-top: auto;
}

.cart-checkout-button {
    margin-left: auto;
    width: 125px;
    height: 60px;
    border-radius: 20px;
    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    border: transparent;
    background-color: green;
}