.web-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-items {
    position: fixed;
    top: 88%;
    left: 2%;
}

.user-item {
    margin-block: 10px;
}